		body{
			background-color: #eff0f4;
			font-family: sans-serif;
			width: 100vw;
			margin: 0;
		}

		div.header{
			background-color: #5fc0cd;
			color: white;
			height:100px;
			position: relative;
			top: 0px;
			left: 0px;
			font-weight: 200;
			text-align: center;
			font-size: 30px;
		}
		a:link,a:visited{
			color: white;
			text-decoration-line: none;
		}
		a:hover{
			color:#D7D7D7;
		}
		div.header span{
			position:absolute;
			top: 30px;
		}
		span.left{
			left: 28.7px;
		}
		span.center{
			font-weight: 200;
			left: 50%;
			transform: translate(-50%)
		}
		span.right{
			right: 28.7px;
		}
		div.inputzone{

		}
		div.inputzone div{
			background-color: white;
			padding: 5px 50% 5px 50%;
			margin: 10px auto;
			height: 64px;
		}
		div.inputzone img{
			margin-top: 8.5px;
			position: absolute;
			left: 40px;
			padding-right: 21px;
			border-right: solid 1px lightgrey;
			width: 27px;

		}
		input{
			margin-top: 14.5px;
			position: absolute;
			height: 31px;
			left: 109px;
			color: #111111;
			font-size: 18px;
			font-weight: 200;
			border-style: none;
		}
		input::-webkit-input-placeholder{
			color: #D1D1D1;
		}
		input:-moz-placeholder{
			color: #D1D1D1;
		}
		input:-ms-input-placeholder{
			color: #D1D1D1;
		}
		input:focus{
			outline: none;
		}

		div.signup{
			margin-top: 50px;
			background-color: #5fc0cd;
			height: 64px;
			font-weight: 200;
			text-align: center;
			font-size: 30px;

		}
		div.signup a{
			position: relative;
			top:10px;
		}
		div.foot{
			margin-top: 10px;
			margin-right: 28.7px;
			font-weight: 200;
			text-align: right;
			font-size: 20px;
		}
		a.foot:link,a.foot:visited{
			color: #5fc0cd;
		}
		a.foot:hover{
			color: #8C8C8C;
		}