body{
	margin: 0;
	background-color: #68cdd5;
	height: 100vh;
}

div.page{
			width: 100vw;
			height: 95vh;

		}
		div.top{
			margin-top: 23px;
		}

		div.top img{
			margin: 0 0 0 35px;
			width:54px;
		}
		div.main{
			margin: auto;
			text-align: center;

		}
		div.main img.logo{
			margin-top: 40px;
			width:184px;
			height: 73px;
		}
		p{
			color: white;
			font-size: 1.6rem;
			font-family: sans-serif;
			font-weight: 200;
			letter-spacing: 0.04em;
			width: 70vw;
			margin: 120px auto 0 auto;
			line-height: 1.8em;
			text-align: left;
			height: 180px;

		}
		div.button{
			margin-top: 180px;
		}
		div.button>div{
			position: relative;

		}
		div.left{
			float: left;
			margin: 0 0 0 15vw;
		}
		div.right{
			float: right;
			margin: 0 15vw 0 0;
		}
		div.button div>span{
			position: absolute;
			top: 103px;
			left: 1px;
			color: #FFF;
		}
