		body{
			background-color: #eff0f4;
			font-family: sans-serif;
			width: 100vw;
		}
		div.header{
			background-color: #5fc0cd;
			color: white;
			height:100px;
			position: relative;
			font-weight: 200;
			text-align: center;
			font-size: 30px;
		}
		div.header span{
			position:absolute;
			top: 30px;
		}
		span.left{
			left: 28.7px;
		}
		span.center{
			font-weight: 600;
			left: 50%;
			transform: translate(-50%)
		}
		span.right{
			right: 28.7px;
		}
		div.inputzone{

		}
		div.inputzone div{
			background-color: white;
			padding: 5px 50% 5px 50%;
			margin-bottom: 10px;
			height: 44px;
		}
		div.inputzone img{
			position: absolute;
			left: 40px;
			padding-right: 21px;
			border-right: solid 1px lightgrey;
			width: 27px;
		}
		input{
			margin-top: 5.5px;
			position: absolute;
			height: 31px;
			left: 109px;
			color: #B7B7B7;
			font-size: 18px;
			font-weight: 200;
			border-style: none;
		}