		body{
			background-color: #eff0f4;
			font-family: sans-serif;
			width: 100vw;
			margin: 0;
		}

		div.header{
			background-color: #5fc0cd;
			color: white;
			height:100px;
			position: relative;
			top: 0px;
			left: 0px;
			font-weight: 200;
			text-align: center;
			font-size: 30px;
		}
		a:link,a:visited{
			color: white;
			text-decoration-line: none;
		}
		a:hover{
			color:#D7D7D7;
		}
		div.header span{
			position:absolute;
			top: 30px;
		}
		span.left{
			left: 28.7px;
		}
		span.center{
			font-weight: 200;
			left: 50%;
			transform: translate(-50%)
		}
		span.right{
			right: 28.7px;
		}
		div.inputzone{
		
		}
		div.inputzone div{
			position: relative;		/*for line52*/
			background-color: white;
			padding: 5px 50% 5px 50%;
			margin: 10px auto;
			height: 64px;
		}
		div.inputzone img{
			position: absolute;
			top: 50%;	/*以上层relative定位的div为基准，让需要对齐的元素顶端下降到50%位置*/
			margin-top: -20.25px;	/*顶部应用负外边距，数值是元素height的一半，等于将元素升高自身高度的1/2，达成居中*/
			height: 40.5px;		/*小缺陷，两个图高度相差1px,应该重新切图或者分开两个选择器写，但是迫于偷懒四舍五入到40.5*/
			left: 40px;
			padding-right: 21px;
			border-right: solid 1px lightgrey;
			width: 27px;

		}
		input{
   			box-sizing: border-box;
			width: 100vw;
			height: 64px;
			text-indent:104px; 

			position: absolute;
			left:0;
			top: 50%;			/*同上*/
			margin-top: -32px;	/*line66 height数值的1/2*/
			height: 64px;
			color: #111111;
			font-size: 18px;
			font-weight: 200;
			border-style: none;
		}
		input::-webkit-input-placeholder{
			color: #D1D1D1;
		}
		input:-moz-placeholder{
			color: #D1D1D1;
		}
		input:-ms-input-placeholder{
			color: #D1D1D1;
		}
		input:focus{
			outline: none;
		}

		div.signup{
			margin-top: 50px;
			background-color: #5fc0cd;
			height: 64px;
			font-weight: 200;
			text-align: center;
			font-size: 30px;

		}
		div.signup a{
			position: relative;
			top:10px;
		}
		div.foot{
			margin-top: 10px;
			margin-right: 28.7px;
			font-weight: 200;
			text-align: right;
			font-size: 20px;
		}
		a.foot:link,a.foot:visited{
			color: #5fc0cd;
		}
		a.foot:hover{
			color: #8C8C8C;
		}