.left,.middle,.right{
	display: inline-block;
	width: 30%;
}
.container{
	width: 90%;
}
.left{

	background-color: red;
}
.middle{
	background-color: grey;
}
.right{
	background-color: green;
}

.square{
	margin: 5px;
	background-color: yellow;
}